* {
  animation: epilepsyAnimation 0.01s linear infinite;
  background: red;
  border: yellow;
}

@keyframes epilepsyAnimation {
  0% {
    filter: hue-rotate(0deg);
  }
  5% {
    filter: hue-rotate(18deg);
  }
  10% {
    filter: hue-rotate(36deg);
  }
  15% {
    filter: hue-rotate(54deg);
  }
  20% {
    filter: hue-rotate(72deg);
  }
  25% {
    filter: hue-rotate(90deg);
  }
  30% {
    filter: hue-rotate(108deg);
  }
  35% {
    filter: hue-rotate(126deg);
  }
  40% {
    filter: hue-rotate(144deg);
  }
  45% {
    filter: hue-rotate(162deg);
  }
  50% {
    filter: hue-rotate(180deg);
  }
  55% {
    filter: hue-rotate(198deg);
  }
  60% {
    filter: hue-rotate(216deg);
  }
  65% {
    filter: hue-rotate(234deg);
  }
  70% {
    filter: hue-rotate(252deg);
  }
  75% {
    filter: hue-rotate(270deg);
  }
  80% {
    filter: hue-rotate(288deg);
  }
  85% {
    filter: hue-rotate(306deg);
  }
  90% {
    filter: hue-rotate(324deg);
  }
  95% {
    filter: hue-rotate(342deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}