/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

html, body {
	width: 100vw;
	height: 100vh;
}

hr {
	margin: 0;
	padding: 0;
}

marquee {
	white-space: nowrap;
}

* {
	word-wrap: break-all;
	white-space: normal;
}

*:focus {
    outline: none;
}

::-webkit-scrollbar {
    width: 0px;
	height: 0px;
}

/* Game */

#game {
	width: 100%;
	height: 100%;
}

#topbar {
	width: 100%;
	height: 35px;
	line-height: 35px;
	top: 0;
	position: fixed;
}

#sidebar {
	height: calc(100vh - 35px);
	width: 80px;
	transition: width 0.5s;
	float: left;
	text-align: center;
	bottom: 0;
	position: fixed;
	z-index: 100;
}

#sidebar.expanded {
	width: 300px;
}

#main {
	height: calc(100vh - 35px);
	width: calc(100vw - 80px);
	transition: width 0.5s;
	margin-top: 35px;
	float: right;
}

#sidebar.expanded + #main {
	width: calc(100vw - 300px);
}

#toggleSB {
	font-size: 20px;
}

#layerswrapper {
	min-width: 100%;
	width: max-content;
	height: 100%;
	max-height: 100%;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
}

#autodiv {
	min-width: 100%;
	width: max-content;
	height: auto;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}

#achwrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

#popupwrapper {
	position: absolute;
	width: 250px;
	height: calc(100% - 35px);
	right: 0;
	top: 35px;
	pointer-events: none;
	z-index: 10000000;
}

#bt {
	display: inline-block;
}

.mt {
	font-size: 25px;
}

.maintab {
	height: 100%;
	width: 100%;
	text-align: center;
}

.p {
	height: 100%;
	width: 200px;
	float: left;
	text-align: center;
	overflow-y: auto;
	position: relative;
}

.r {
	height: 80px;
	width: 100%;
	white-space: normal;
	position: sticky;
	top: 0;
}

.g {
	height: auto;
	width: 100%;
	float: left;
}

.pb {
	font-size: 11px;
}

.auto {
	width: 190px;
	height: auto;
	float: left;
}

.ama {
	height: 80px;
}

.ap {
	height: 80px;
}

.mt4, .mt5 {
	display: none;
}

.horizflex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.levellight {
	flex-basis: 200px;
	flex-grow: 0;
	height: 40px;
	border-width: 5px;
	border-style: solid;
	border-radius: 5px;
	display: inline-block;
	line-height: 40px;
}

.ach {
	flex-basis: 150px;
	flex-grow: 0;
	margin: 5px;
	height: 150px;
	display: inline-block;
	border-width: 5px;
	border-style: solid;
	border-radius: 5px;
}

.tnb2 {
	margin-top: 30px;
}

.ld {
	display: flex !important;
	flex-direction: row;
	flex-wrap: wrap;
}

/* Mostly Credit to Hevipelle For Achievement Tooltips */

[data-tooltip] {
	position: relative;
    z-index: 2;
}

[data-tooltip]::before {
    position: absolute;
    bottom: 105%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 145px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 5%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
    transition-duration: .5s;
}

[data-tooltip]::after {
    position: absolute;
    bottom: 105%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 5%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
    transition-duration: .5s;
}

[data-tooltip]::before, [data-tooltip]::after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
}

[data-tooltip]:hover::before, [data-tooltip]:hover::after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 100;
}