/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

html, body {
	width: 100vw;
	height: 100vh;
}

hr {
	margin: 0;
	padding: 0;
}

*:focus {
    outline: none;
}

::-webkit-scrollbar {
    width: 0px;
	height: 0px;
}

#topbar {
	width: 100%;
	height: 30px;
	background-color: grey;
	top: 0;
    position: fixed;
}

#sidebar {
	width: 25vw;
	height: calc(100vh - 30px);
	background-color: lightgrey;
	float: left;
	-webkit-transition: width 1s;
	transition: width 1s;
	text-align: center;
	position: fixed;
	bottom: 0;
}

#sidebar:hover {
	width: 40vw;
}

#main {
	width: 75vw;
	height: calc(100vh - 30px);
	background-color: darkgrey;
	float: right;
	-webkit-transition: width 1s;
	transition: width 1s;
	margin-top: 30px;
}

#sidebar:hover + #main {
	width: 60vw
}

#antimattersidebar {
	width: 100%;
	display: inline-block;
	text-align: center;
	word-break: break-all;
	white-space: normal;
}

#antimattersidebar small {
	font-size: 10px;
}

#antimattersidebar big {
	font-size: 35px;
}

#asintv {
	width: 40px;
}

#lw {
	min-width: 100%;
	width: max-content;
	height: 100%;
	max-height: 100%;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
}

.section {
	width: 100%;
	height: 100%;
	display: none;
	text-align: center;
}

.section.visible {
	display: block;
}

.prestige {
	width: 200px;
	height: 100%;
	background-color: #B8B8B8;
	display: inline-block;
	float: left;
	border: solid #C8C8C8; 
}

.resBox {
	width: 200px;
	max-width: 200px;
	height: 80px;
	background-color: #C5C5C5;
}

.resBox p {
	display: inline-block;
	vertical-align: middle;
}

.r {
	height: 80px;
	white-space: normal;
}

.genBox {
	width: 200px;
	height: calc(100vh - 155px);
	/* height: calc(100% - 80px); */
	background-color: #B8B8B8;
	overflow-y: auto;
}

.gen {
	background-color: lightgrey;
	min-height: 80px;
	max-height: 120px;
	height: auto;
	white-space: normal;
	visibility: hidden;
}

.sbb {
	width: 100%;
	height: 40px;
	border-width: 5px;
	border-style: solid;
	border-radius: 5px;
	display: inline-block;
	transition: width 0.2s;
}

.sbb.half {
	width: 50%;
	height: 30px;
}

.sbb.nochange:hover {
	height: 28px;
}

.sbb.nochange:active {
	height: 25px;
}

.sbb:hover:not(.nochange) {
	width: 98%;
}

.sbb:active:not(.nochange) {
	width: 95%;
}

.sbb.grey {
	background-color: darkgrey;
	border-color: grey;
}

.sbb.blue {
	background-color: mediumslateblue;
	border-color: #392759;
}

.sbb.green {
	background-color: #B5DDA4;
	border-color: #4DAA57;
}

.sbb.red {
	background-color: pink;
	border-color: darkred;
}

.sbb.brown {
	background-color: #513C2C;
	border-color: #28190E;
}

.sbb.maxall {
	
}