a:visited {
	color: pink;
}

button {
	background-color: #ffc425;
	border-color: #ffc425;
}

#topbar {
	background-color: #424bc0;
}

#sidebar {
	background-color: #af1485;
}

#main {
	background-image: url('../assets/img/tie-dye.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.p {
	background-color: #ffa039;
}

.r {
	background-color: #18b0dc;
}

.g, .lg {
	background-color: #b564ac;
}

.auto {
	background-color: #056753;
}

/* Color Classes */

.grey {
	background-color: #f5f5dc;
	border-color: #e0b566;
}

.lightgrey {
	background-color: silver;
	border-color: lightgrey;
}

.blue {
	background-color: mediumslateblue;
	border-color: #392759;
}

.green {
	background-color: #B5DDA4;
	border-color: #4DAA57;
}

.red {
	background-color: pink;
	border-color: darkred;
}

.brown {
	background-color: #513C2C;
	border-color: #28190E;
}

.aqua {
	background-color: #ACEDFF;
	border-color: #89BBFE;
}

.yellow {
	background-color: #FFD151;
	border-color: #F8C537;
}